* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
  scroll-behavior: smooth;
}

.click {
  background-color: #ffbedf;
  border: none;
  margin-top: 20px;
  padding: 10px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  font-size: 20px;
  z-index: 1;
}

.click:active {
  transform: scale(0.95);
}

.wrapper-envelope {
  height: 200px;
  width: 300px;
  background-color: hsl(335, 100%, 57%);
  position: relative;
  display: flex;
  justify-content: center;
  z-index: 0;
}

.container-envelope {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lid {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border-right: 150px solid transparent;
  border-bottom: 100px solid transparent;
  border-left: 150px solid transparent;
  transform-origin: top;
  transition: transform 0.25s linear;
}

.animate {
  animation: openLetter 1s forwards ease-in;
}

@keyframes openLetter {
  0% {
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateX(95deg);
  }
  100% {
    transform: rotateX(180deg);
    z-index: 1;
  }
}

.animate-paper {
  animation: paper 1s 1s forwards;
}

@keyframes paper {
  100% {
    transform: translateY(-95px);
  }
}

/* Lid when closed */
.lid.one {
  border-top: 100px solid hsl(335, 100%, 57%);
  z-index: 3;
}

.envelope {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border-top: 100px solid transparent;
  border-right: 150px solid #ffbedf;
  border-bottom: 100px solid #ffbedf;
  border-left: 150px solid #ff69b4;
  z-index: 3;
}

.letter {
  position: absolute;
  top: 0;
  width: 80%;
  height: 80%;
  background-color: white;

  z-index: 2;
  transition: 0.5s;
}

.letter p {
  text-align: center;
  font-size: 30px;
  margin-top: 20px;
  color: #3b4049;
  font-family: "Satisfy", cursive;
}

#section-one {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

#section-two {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f3f4f4;
}

.paper {
  width: clamp(324px, 40vw, 600px);
  height: 80vh;
  background-color: white;
  border: 1px solid rgb(211, 211, 211);
}

.pic-container {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: center;
  align-items: center;
}

.hidden {
  opacity: 0;
  transition: all 2s;
}

.show {
  opacity: 1;
}

.heart-pic {
  width: 300px;
  position: absolute;
  top: 0;
}

.pic-one {
  left: 10px;
  height: 200px;
  position: relative;
  z-index: 1;
  transform: rotate(-20deg);
}

.pic-two {
  width: 186px;
  margin-top: 124px;
}

.pic-three {
  height: 200px;
  position: relative;
  transform: rotate(20deg);
  right: 10px;
}

.top-content {
  text-align: center;
}

.paragraph {
  margin-top: 16px;
  padding: 14px;
  font-size: 18px;
  text-justify: distribute-all-lines;
  font-family: "Satisfy", cursive;
  text-indent: 24px;
}

.closing {
  padding: 14px;
  font-size: 18px;
  text-justify: distribute-all-lines;
  font-family: "Satisfy", cursive;
  text-align: right;
  padding: 0 14px 0 0;
}

.x1 {
  left: 5%;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  transform: scale(0.9);
  opacity: 0.6;
  -webkit-animation: moveclouds 15s linear infinite,
    sideWays 4s ease-in-out infinite alternate;
  -moz-animation: moveclouds 15s linear infinite,
    sideWays 4s ease-in-out infinite alternate;
}

.x2 {
  left: 25%;
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  transform: scale(0.6);
  opacity: 0.9;
  -webkit-animation: moveclouds 25s linear infinite,
    sideWays 5s ease-in-out infinite alternate;
  -moz-animation: moveclouds 25s linear infinite,
    sideWays 5s ease-in-out infinite alternate;
}
.x3 {
  left: 55%;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0.8;
  -webkit-animation: moveclouds 20s linear infinite,
    sideWays 4s ease-in-out infinite alternate;
  -moz-animation: moveclouds 20s linear infinite,
    sideWays 4s ease-in-out infinite alternate;
}
.x4 {
  left: 72%;
  -webkit-transform: scale(0.75);
  -moz-transform: scale(0.75);
  transform: scale(0.75);
  opacity: 0.9;
  -webkit-animation: moveclouds 18s linear infinite,
    sideWays 2s ease-in-out infinite alternate;
  -moz-animation: moveclouds 18s linear infinite,
    sideWays 0zs ease-in-out infinite alternate;
}
.x5 {
  left: 88%;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0.3;
  -webkit-animation: moveclouds 7s linear infinite,
    sideWays 1s ease-in-out infinite alternate;
  -moz-animation: moveclouds 7s linear infinite,
    sideWays 1s ease-in-out infinite alternate;
}
.x6 {
  left: 33%;
  opacity: 1;
  -webkit-animation: moveclouds 2s linear infinite,
    swayWays 1s ease-in-out infinite alternate;
  animation: moveclouds 10s linear infinite,
    swayWays 9s ease-in-out infinite alternate;
}

@-webkit-keyframes moveclouds {
  0% {
    top: 800px;
  }
  100% {
    top: -500px;
  }
}

@keyframes moveclouds {
  0% {
    top: 800px;
  }
  100% {
    top: -500px;
  }
}

@-webkit-keyframes sideWays {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: 50px;
  }
}

@keyframes sideWays {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: 50px;
  }
}

@-keyframes swayWays {
  0% {
    transform: rotate(12deg);
    left: -0.3%;
  }
  33% {
    transform: rotate(-2deg);
    left: 0.7%;
  }
  100% {
    transform: rotate(0deg);
    left: -12%;
  }
}

.wrapper {
  background: #f3f4f4;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.altheart {
  background: url(http://static.indigoimages.ca/2016/shop/113439_img25_twotoneheart.png)
    no-repeat center;
  width: 24px;
  height: 21px;
  position: relative;
  display: block;
}

.heart {
  position: relative;
}
.heart:before,
.heart:after {
  position: absolute;
  content: "";
  left: 18px;
  top: 0;
  width: 18px;
  height: 30px;
  background: #cc2022;
  -moz-border-radius: 20px 50% 0 0;
  border-radius: 30px 30px 0 0;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  transform-origin: 0 100%;
}
.heart:after {
  left: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}
